.header {
  background: url(./img/top-section.png) no-repeat;
  background-size: cover;
  padding-top: 51px;
  padding-bottom: 120px;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 202px;
}

.logo__img {
  width: 205px;
  height: 40px;
}

.menu-mobile {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

.menu__link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #F5BD41;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.menu__link:hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.active__link {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s;
  display: block;
  color: white;
  border-bottom: 3px solid #F5BD41;
}

.menu__list-item {
  margin-right: 24px;
}

.menu__list-item:nth-child(2n) {
  margin-right: 48px;
}

.menu__list-item:nth-child(3) {
  background-image: url(./css_sprites.png);
  background-position: -10px -226px;
  height: 30px;
  width: 30px;
  margin-right: 24px;
}

.menu__list-item:nth-child(4) {
  background-image: url(./css_sprites.png);
  background-position: -226px -135px;
  height: 40px;
  width: 40px;
  margin-right: 0;
}

.menu__list-item:nth-child(4n):hover {
  background-image: url(./css_sprites.png);
  background-position: -226px -75px;
}

.menu__list-item:nth-child(5) {
  display: none;
}

.header__content-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 47px;
  color: white;
}

.header__form-mobile {
  display: none;
  margin-top: 100px;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.header__form label {
  color: white;
}

.header__form p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 24px;
  padding-left: 28px;
}

.header__form input {
  height: 64px;
  width: 100%;
  border-radius: 8px;
}

.header__input--search {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

input {
  border-radius: 8px;
  border-color: transparent;
  outline: none;
}

input::-webkit-input-placeholder {
  padding-left: 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

input:-ms-input-placeholder {
  padding-left: 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

input::-ms-input-placeholder {
  padding-left: 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

input::placeholder {
  padding-left: 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

input:focus {
  border-color: #F5BD41;
  border-width: 3px;
}

.header__input--check {
  -webkit-box-flex: 1.8;
      -ms-flex-positive: 1.8;
          flex-grow: 1.8;
}

.header__input--persons {
  -webkit-box-flex: 2.5;
      -ms-flex-positive: 2.5;
          flex-grow: 2.5;
  margin-top: 44px;
}

.header__btn {
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
  height: 64px;
  margin-top: 44px;
  background: #3077C6;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: white;
  border-radius: 8px;
}

.header__markets {
  width: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 120px auto 0px;
}

.header__markets-mobile {
  display: none;
}
/*# sourceMappingURL=header.css.map */