@media (max-width: 360px) {
  .header {
    background-image: url(./img/castelmezzano-1979546.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 40px;
    padding-left: 17px;
    padding-right: 17px;
  }
  .header__top-inner {
    margin-bottom: 52px;
  }
  .logo__img {
    width: 121px;
    height: 24px;
  }
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list-item:first-child {
    background: url(./css_sprites-mobile.png);
    background-position: -10px -176px;
    height: 16px;
    width: 16px;
    margin-right: 16px;
  }
  .menu__list-item:nth-child(2n) {
    background: url(./css_sprites-mobile.png);
    background-position: -176px -75px;
    height: 24px;
    width: 24px;
    margin-right: 16px;
  }
  .menu__list-item:nth-child(3) {
    background: url(./css_sprites-mobile.png);
    background-position: -176px -119px;
    height: 16px;
    width: 16px;
    margin-right: 0;
  }
  .header__form {
    display: none;
  }
  .header__form-mobile {
    display: block;
    background-color: #F5BD41;
    margin-top: 31px;
    margin-bottom: 31px;
  }
  .header__content-title {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
  }
  .header__input--search {
    padding: 8px 8px;
  }
  .header__input--search input {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background-image: url(./icons_mobile/search.svg);
    background-repeat: no-repeat;
  }
  .header__input--search input ::-webkit-input-placeholder {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    color: #383838;
  }
  .header__input--search input :-ms-input-placeholder {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    color: #383838;
  }
  .header__input--search input ::-ms-input-placeholder {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    color: #383838;
  }
  .header__input--search input ::placeholder {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    color: #383838;
  }
  .header__input--check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__input--check input {
    height: 48px;
    width: 100%;
    border-radius: 4px;
    width: 152px;
    margin-left: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__input--persons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2px;
  }
  .header__input--persons input {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    margin: 8px 8px;
  }
  .header__btn-mob {
    width: 312px;
    height: 48px;
    background: #3077C6;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    border-radius: 8px;
    text-align: center;
    margin: 0 8px 8px;
    color: white;
    border-color: transparent;
  }
  .header__markets {
    display: none;
  }
  .header__markets-mobile {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__markets-mobile img {
    padding: 0 16px 0;
  }
  .services-mobile {
    display: block;
  }
  .services-mobile h2 {
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
  }
  .services {
    display: none;
  }
  .container-mobile {
    padding: 24px 73px 40px;
  }
  .services-mobile__title {
    text-align: center;
  }
  .services-mobile__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 36px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services-mobile__item .support {
    background-image: url(./css_sprites-mobile.png);
    background-position: -10px -90px;
    width: 54px;
    height: 66px;
    margin: 0 150px 19px;
  }
  .services-mobile__item .comunication {
    background-image: url(./css_sprites-mobile.png);
    background-position: -96px -10px;
    width: 60px;
    height: 60px;
    margin: 37px 150px 22px;
  }
  .services-mobile__item .booking {
    background-image: url(./css_sprites-mobile.png);
    background-position: -84px -90px;
    width: 70px;
    height: 48px;
    margin: 44px 150px 28px;
  }
  .services-mobile__item .reviews {
    background-image: url(./css_sprites-mobile.png);
    background-position: -10px -10px;
    width: 66px;
    height: 60px;
    margin: 35px 150px 25px;
  }
  .services-mobile__item p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
  }
  .recommendations {
    display: none;
  }
  .recommendations-mobile {
    display: block;
  }
  .recommendations-mobile__title {
    text-align: center;
    padding-top: 40px;
  }
  .recommendations-mobile__title h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    color: #383838;
  }
  .recommendations-mobile__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    margin-top: 32px;
  }
  .recommendations-mobile__list li {
    width: 100%;
  }
  .recommendations-mobile__list li:nth-child(2) {
    margin-left: 10px;
  }
  .recommendations-mobile__list a {
    color: #3077C6;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
  .recommendations-mobile__list p {
    color: #BFBFBF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-top: 4px;
  }
  .recommendations-mobile__list::after {
    content: '';
    width: 28px;
    height: 28px;
    background-image: url(./css_sprites--arrows.png);
    background-position: -40px -3px;
    background-color: #F3F3F4;
    border-radius: 50%;
    position: absolute;
    -webkit-box-shadow: 0 3px 7px #707070;
            box-shadow: 0 3px 7px #707070;
    top: 30%;
    right: -2%;
    cursor: pointer;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .destinations {
    display: none;
  }
  .destinations-mobile {
    display: block;
  }
  .destinations-mobile__container {
    padding: 40px 17px;
  }
  .destinations-mobile__title {
    text-align: center;
  }
  .destinations-mobile__title h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    padding-top: 40px;
  }
  .destinations-mobile__btns {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .destinations-mobile__btn {
    width: 99px;
    height: 32px;
    border-radius: 4px;
    background-color: white;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    border: none;
    border: 1px solid #F3F3F4;
    color: #383838;
  }
  .destinations-mobile__btn:first-child:active {
    background-color: #3077C6;
    color: white;
  }
  .destinations-mobile__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 24px;
    position: relative;
  }
  .destinations-mobile__list::after {
    content: '';
    width: 28px;
    height: 28px;
    background-image: url(./css_sprites--arrows.png);
    background-position: -107px -3px;
    background-color: #F3F3F4;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 7px #707070;
            box-shadow: 0 3px 7px #707070;
    right: -3%;
    top: 38%;
    position: absolute;
    cursor: pointer;
    -webkit-transition: .3s linear;
    transition: .3s linear;
    position: absolute;
  }
  .destinations-mobile__list--item img {
    width: 100%;
    display: block;
    margin-top: 8px;
  }
  .destinations-mobile__list--item a {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #3077C6;
  }
  .promo-mobile {
    display: block;
  }
  .promotion-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-left: 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .promotion-mobile p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #383838;
  }
  .promo-mobile__btn {
    border: 0;
    background-color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: #3077C6;
  }
  .promo-mobile__logo {
    background-image: url(./icons_mobile/logo_vector.svg);
    background-repeat: no-repeat;
    background-position: 2px 24px;
    border-radius: 4px;
    width: 58px;
    height: 58px;
    background-color: #3077C6;
  }
  .close-mobile {
    top: 22px;
    left: -9px;
    position: absolute;
    opacity: 0.3;
  }
  .close-mobile:hover {
    opacity: 1;
  }
  .close-mobile:before {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #333;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .close-mobile:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #333;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .footer {
    display: none;
  }
  .footer-mobile {
    display: block;
    background: #10367C;
  }
  .footer-mobile .container {
    padding: 40px 68px 40px 68px;
  }
  .footer-mobile .container ul {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-mobile .container ul li a {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
  }
  .footer-mobile .container p {
    margin-top: 40px;
    color: white;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }
}
/*# sourceMappingURL=mobile.css.map */