.services {
	padding: 120px 104px;
}
.services__title {
	text-align: center;
	position: relative;
	h2 {
		font-size: 40px;
		font-style: normal;
		font-weight: 500;
		color: #383838;
	}
	&::after {
		content: '';
		position: absolute;
		width: 13%;
		height: 4px;
		background-color: #F5BD41;
		bottom: -23px;
		left: 44%;
	}
}
.services__list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin-top: 80px;
	align-items: flex-end;
}
.support {
	background-image: url(./css_sprites.png);
	background-position: -10px -114px;
	width: 76px;
	height: 92px;
}
.comunication {
	background-image: url(./css_sprites.png);
	background-position: -122px -10px;
	width: 84px;
	height: 84px;
}
.booking {
	background-image: url(./css_sprites.png);
	background-position: -106px -114px;
	width: 100px;
	height: 68px;
}
.reviews {
	background-image: url(./css_sprites.png);
	background-position: -10px -10px;
	width: 92px;
	height: 84px;
}
.services__item {
	p {
		font-style: normal;
		font-weight: 400;
		margin-top: 70px;
	}
}
.services-mobile {
	display: none;
}