* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
} 

.container {
    padding-right: 104px;
    padding-left: 104px;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.header {
    background: url(./img/top-section.png) no-repeat;
    background-size: cover;
    padding-top: 51px;
    padding-bottom: 120px ;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 202px;
}

.logo__img {
    width: 205px;
    height: 40px;
}

.menu-mobile {
    display: none;
}   

.menu__list {
    display: flex;
    align-items: center;
}

.menu__link, .active__link {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    position: relative;
}

.menu__list-item {
    margin-right: 24px;
}

.menu__list-item:nth-child(2n) {
	margin-right: 48px;
}

.menu__list-item:nth-child(3) {
    background-image:url(./css_sprites.png);
    background-position: -10px -226px;
    height: 30px;
    width: 30px;
    margin-right: 24px;
}

.menu__list-item:nth-child(4) {
    background-image:url(./css_sprites.png);
    background-position: -226px -135px;
    height: 40px;
    width: 40px;
    margin-right: 0;
}

.menu__list-item:nth-child(4n):hover {
    background-image: url(./css_sprites.png);
    background-position: -226px -75px;  
}

.menu__list-item:nth-child(5) {
    display: none;
}

.menu__link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:#F5BD41;
    transition: width .3s;
}

.menu__link:hover::after, .active__link {
    width: 100%;
    transition: width .3s;
}

.active__link { 
    display: block;
    color: white; 
    border-bottom: 3px solid #F5BD41;
} 
  
.header__content-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    color:white;
 }

.header__form-mobile {
    display: none;
    margin-top: 100px;
} 

.header__form {
    display: flex;
    margin-top: 100px;
}

.header__form label {
    color: white;
}

.header__form p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 24px;
    padding-left: 28px;
}

.header__form input {
    height: 64px;
    width: 100%;
    border-radius: 8px;
}

.header__input--search {
    flex-grow: 3;
}

input::placeholder {
    padding-left: 24px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.header__input--check {
    flex-grow: 1.8;
}

.header__input--persons {
    flex-grow: 2.5;
    margin-top: 44px;
}

input {
    border-radius: 8px;
    border-color:transparent;
    outline: none;
}

input:focus {
    border-color: #F5BD41;
    border-width: 3px;
}

.header__btn {
    flex-grow: 1.5;
    height: 64px;
    margin-top: 44px;
    background: #3077C6;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color: white;
    border-radius: 8px;
}

.header__markets {
    width: 265px;
    display: flex;
    justify-content: space-between;
    margin: 120px auto 0px;
}

.header__markets-mobile {
    display: none;
}

@media (max-width: 360px) {
    .header {
        background: url(./img/castelmezzano-1979546\ 1.jpg) no-repeat;
        background-size: cover;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 40px;
    }

    .header__top-inner {
        margin-bottom: 52px;
    }

    .logo__img {
        width: 121px;
        height: 24px;
    }

    .menu {
        display: none;
    }

    .menu-mobile {
        display: block;
    }
 
    .menu__list {
        display: flex;
        align-items: center;
    }

    .menu__list-item:first-child {
        background: url(./css_sprites-mobile.png);
        background-position: -10px -176px;
        height: 16px;
        width: 16px;
        margin-right: 16px;
    }

    .menu__list-item:nth-child(2n) {
        background: url(./css_sprites-mobile.png);
        background-position: -176px -75px;
        height: 24px;
        width: 24px;
        margin-right: 16px;
    }

    .menu__list-item:nth-child(3) {
        background: url(./css_sprites-mobile.png);
        background-position: -176px -119px;
        height: 16px;
        width: 16px;
        margin-right: 0;
    }

    .header__form {
        display: none;
    }

    .header__form-mobile {
        display: block;
        background-color: #F5BD41;  
        margin-top: 31px;
        margin-bottom: 31px;
    }

    .header__content-title {
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px;
    }

    .header__input--search {
        padding: 8px 8px;
    }

    .header__input--search input {
        width: 100%;
        height: 48px;
        border-radius: 4px;
        background-image:url(./icons_mobile/search.svg);
        background-repeat: no-repeat;
    }

    ::placeholder {
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        color: #383838;
    }

    .header__input--check {
        display: flex;
    }  

    .header__input--check input {
        height: 48px;
        width: 100%;
        border-radius: 4px;
        width: 152px;
        margin-left: 8px;
        justify-content: center;
    }
    
    .header__input--persons {
        display: flex;
        margin-top: 2px;
    }

    .header__input--persons input {
        width: 100%;
        height: 48px;
        border-radius: 4px;
        margin: 8px 8px;
    }

    .header__btn-mob {
        width: 312px;
        height: 48px;
        background: #3077C6;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        border-radius: 8px;
        text-align: center;
        margin:0 8px 8px;
        color: white;
        border-color: transparent;
    }

    .header__markets {
        display: none;
    }

    .header__markets-mobile {
        display: block;
        display: flex;
        justify-content: center;
    }

    .header__markets-mobile img {
        padding: 0 16px 0;
    }
}

.services {
    padding: 120px 104px;
}

.services__title {
    text-align: center;
    position: relative;
}

.services__title h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    color: #383838;
}

.services__title::after {
    content: '';
    position: absolute;
    width: 13%;
    height: 4px;
    background-color:#F5BD41;
    bottom: -23px;
    left:44%;
}

.services__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 80px;  
    align-items: flex-end;
}

.support {
    background-image:url(./css_sprites.png);
    background-position: -10px -114px;
    width: 76px;
    height: 92px;
}

.comunication {
    background-image: url(./css_sprites.png);
    background-position: -122px -10px;
    width: 84px;
    height: 84px;
}

.booking {
    background-image: url(./css_sprites.png);
    background-position: -106px -114px;
    width: 100px;
    height: 68px;
}

.reviews {
    background-image: url(./css_sprites.png);
    background-position: -10px -10px;
    width: 92px;
    height: 84px;
}

.services__item p {
    font-style: normal;
    font-weight: 400;
    margin-top: 70px;
}

.services-mobile {
    display: none;
}

@media (max-width: 360px) {
    .services-mobile {
        display: block;
    }

    .services {
        display: none;
    }    
    
    .container-mobile {
        padding: 24px 73px 40px;
    } 

    .services-mobile__title {
        text-align: center;
    }
    
    .services-mobile h2 {
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
    }

    .services-mobile__list {
        display: flex;
        flex-direction:column;
        margin-top: 36px;
        align-items: center;
    }

    .services-mobile__item .support {
        background-image:url(./css_sprites-mobile.png);
        background-position: -10px -90px;
        width: 54px;
        height: 66px;
        margin: 0 150px 19px;
    }

    .services-mobile__item .comunication {
        background-image: url(./css_sprites-mobile.png);
        background-position: -96px -10px;
        width: 60px;
        height: 60px;
        margin: 37px 150px 22px;
    }

    .services-mobile__item .booking {
        background-image: url(./css_sprites-mobile.png);
        background-position: -84px -90px;
        width: 70px;
        height: 48px;
        margin: 44px 150px 28px;
    }
    
    .services-mobile__item .reviews {
        background-image: url(./css_sprites-mobile.png);
        background-position: -10px -10px;
        width: 66px;
        height: 60px;
        margin: 35px 150px 25px;
    }

    .services-mobile__item p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        margin-top: 25px;
    }
}

.recommendations {
    background-color: #EAF0F9;
}

.recommendations__title {
    text-align: center;
    padding-top: 120px;
}

.recommendations h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    color: #383838;
}

.recommendations__list {
    display: flex;
    margin-top: 106px;
    justify-content: space-between;
    padding-bottom: 120px;
    position: relative;
}

.recommendations__list li {
    width: 23.5%;
}

.recommendations__list li img {
    margin-bottom: 24px;
    width: 100%;
}

.recommendations__list a {
    color: #3077C6;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.recommendations__list p {
    color: #BFBFBF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: 24px;
}

.recommendations__list::after {
    content: '';
    width: 40px;
    height: 40px;
    background-image: url(./css_sprites--arrows.png);
    background-position: -34px 1px;
    background-color: #F3F3F4;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 3px 7px #707070;
    top: 25%;
    right: -2%;
    cursor: pointer;
    transition: .3s linear;
}

.recommendations__list::after {
    transform: scale(1.2);
}

.recommendations-mobile {
    display: none;
    background-color: #EAF0F9;
}

@media (max-width: 360px) {
    .recommendations {
        display: none;
    }

    .recommendations-mobile {
        display: block;
    }

    .container {
        padding-left: 17px;
        padding-right: 17px;
    }

    .recommendations-mobile__title {
        text-align: center;
        padding-top: 40px;
    }

    .recommendations-mobile__title h2 {
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        color: #383838;
    }

    .recommendations-mobile__list {
        display: flex;
        justify-content: space-around;
        position: relative;
        margin-top: 32px;
    }

    .recommendations-mobile__list li {
        margin-left: 3px;
    }

    .recommendations-mobile__list a {
        color: #3077C6;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
    }
    
    .recommendations-mobile__list p {
        color: #BFBFBF;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        margin-top: 4px;
    }

    .recommendations-mobile__list::after {
        content: '';
        width: 40px;
        height: 40px;
        background-image: url(./css_sprites--arrows.png);
        background-position: -34px 1px;
        background-color: #F3F3F4;
        border-radius: 50%;
        position: absolute;
        box-shadow: 0 3px 7px #707070;
        top: 25%;
        right: -2%;
        cursor: pointer;
        transition: .3s linear;
    }
}   

.footer {
    background: #10367C;
    height: 630px;
}

.footer p {
    margin-top: 64px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: white;
}

.footer-mobile {
    display: none;
}

.footer__menu {
    display: flex;
}

.footer__menu--item {
    width: 30%;
    margin-top: 120px;
}

.footer__menu--item a {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
}

.footer__menu--item li {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    margin-top: 24px;

}

.footer li a {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: white;
    margin-top: 64px;
}

@media (max-width: 360px) {
    .footer {
        display: none;  
    }

    .footer-mobile {
        display: block;
        background: #10367C;
    }

    .footer-mobile .container {
        padding: 40px 68px 40px 68px;
    }
    
    .footer-mobile .container ul {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    .footer-mobile .container ul li a {
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
    }

    .footer-mobile .container p {
        margin-top: 40px;
        color:white;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        text-align: center;
    }
}




 

